@import "./variables";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $main_font_family!important;
  font-size: $font_size!important;
  color: $paragraph_color!important;
}
a {
  text-decoration: none!important;
  transition: $transition;
  color: $blue;
  display: inline-block;

  &:hover,
  &:focus {
    color: $blue;
    text-decoration: none;
  }
}
button {
  outline: 0 !important;
}
p {
  margin-bottom: 0.9rem;
  line-height: 1.8;
  color: $paragraph_color;
  font-weight: 400;
  font-size: $font_size;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.ptb-100 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.pt-100 {
  padding-top: 6.25rem;
}
.pb-100 {
  padding-bottom: 6.25rem;
}
.pb-70 {
  padding-bottom: 4.4rem;
}
.pl-15 {
  padding-left: 0.9rem;
}
.pr-15 {
  padding-right: 0.9rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $main_font_family;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0;
  }
}
