//FONTS

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;300;400&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

$main_font_family: "Fira Sans", sans-serif;
$font_size: 1rem;

//FLOW

$transition: 0.6s;

//COLORS

$blue: #3f7ef8;
$dark_blue: #0f337a;
$white_blue: #f4f8ff;
$gray: #C0C6DD;
$light_gray: #f5f7fc;
$green: #1fcf9b;
$light_green: #e2fbf2;
$pink: #ea59ac;
$light_pink: #f8cde6;
$red: #fa2256;
$light_red: #fff4f7;
$yellow: #ffb646;
$paragraph_color: #494a60;
$black: #1d1d1d;
$white: #fff;
