@import "./resets";
@import "./variables";
@import "./shared";

/*HOME PAGE */

.home_pg {
  background: $white_blue;
}

/*LOGIN &  SIGNUP FORM */
.auth_form {
  background: $white;
  box-shadow: 0 0.13rem 3rem 0 rgba(0, 0, 0, 0.08);
  padding: 2.5rem;
  border-radius: 0.6rem;
  width: 37.5rem;
  .error_msg {
    p {
      color: $red;
      background: $light_red;
      padding: 0.5rem;
    }
  }
  .success_msg {
    p {
      color: $green;
      background: $light_green;
      padding: 0.5rem;
    }
  }
}

.form-control {
  &:focus {
    border-color: $blue;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.form-check-input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.3rem;
}

.form-check-input {
  &:checked {
    background-color: $green;
    border-color: $paragraph_color;
  }

  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/*SIDE BAR */

.dash_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 4.25rem;
  height: 100vh;
  background-color: $dark_blue;
  transition: $transition;
  z-index: 100;

  @mixin toggler {
    position: absolute;
    top: 2.5rem;
    left: 12.5rem;
    font-size: 2.5rem;
    padding: 0.5rem;
    z-index: 100;
    background: $blue;
    color: $white;
    transition: $transition;
    cursor: pointer;
    @content;
  }

  .toggler_1 {
    @include toggler() {
    }
    top: 2.5rem;
    left: 12.5rem;
  }
  .toggler_2 {
    @include toggler() {
    }
    top: 3.5rem;
    left: 2.5rem;
  }

  .dash_nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .nav_link {
      display: flex;
      align-items: center;
      padding: 0.5rem 0 0.5rem 0.8rem;
      color: $white;
      transition: $transition;
      &:hover {
        background: $white;
        color: $blue;
        font-weight: 600;
      }
    }
  }
}

/*DASHBOARD HEADER*/
.dash_header {
  display: flex;
  background-color: $white;
  box-shadow: 0 0 0.9rem 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  justify-content: space-between;
  border-radius: 0 0 0.5rem 0.5rem;

  .left_side_area {
    display: flex;
    align-items: center;
    .img_area {
      background-color: $white_blue;
      padding: 0.4rem;
      border-radius: 50%;
      border: 0.1rem solid $gray;
      overflow: hidden;
    }
    .user_info {
      display: flex;
      flex-direction: column;
      span {
        font-size: 0.8rem;
      }
    }
  }
  .right_side_area {
    display: flex;
    align-items: center;
    .notification_bell {
      position: relative;
      span {
        position: absolute;
        top: -0.2rem;
        right: 2rem;
        width: 0.8rem;
        height: 0.8rem;
        padding: 0.2rem;
        border-radius: 50%;
        background-color: $green;
      }
    }
    .right_side_icon {
      font-size: 2rem;
      margin-right: 2rem;
      color: $paragraph_color;
      cursor: pointer;
    }
    .dropdown{
      position: relative;
      display: inline-block;
    
      .dropdown_content {
        display: none;
        position: absolute;
        border-radius: .5rem 1.5rem;
        background-color: $white;
        transition: $transition;
        min-width: 8rem;
        margin-right: 1rem;
        box-shadow: 0 0 0.9rem 0 rgba(0, 0, 0, 0.1);
        z-index: 1;
        ul{
          list-style-type: none;
          padding-top: .8rem;
          li{
            padding-top: .8rem;
            font-weight: 600;
          }
        }
        .header_logout{
          display: flex;
          align-items: center;
          cursor: pointer;
          padding-bottom: .5rem;
          span{
            font-weight: 600;
          }
        }
      }
      &:hover{
        .dropdown_content{ display: block;}
      }
    }
  }
}
/*MAIN CONTAINER */

.dash_container {
  transition: 0.5s;
  min-height: 62.5rem;
  padding-right: 1rem;
  padding-left: 5.25rem;
  position: relative;
  background: $white_blue;
}

.add_body_padding {
  padding-left: calc(4.25rem + 1rem);
  transition: 0.5s;
}
